<!--
Author: NGG
Author URL: NGG

-->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Interior-Design-Responsive-Website-Templates-Edge">
	<meta name="author" content="NGG">
	<title>ngg</title>
	<link rel="favicon" href=" {% static 'assets/images/favicon.png' %} ">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href=" {% static 'assets/css/bootstrap.min.css' %} ">
	<link rel="stylesheet" href=" {% static 'assets/css/font-awesome.min.css' %} ">
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href=" {% static 'assets/css/bootstrap-theme.css' %} " media="screen">
	<link rel="stylesheet" href=" {% static 'assets/css/style.css' %} ">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src=" {% static 'assets/js/html5shiv.js' %} "></script>
	<script src=" {% static 'assets/js/respond.min.js' %} "></script>
	<![endif]-->
</head>

<body>
	
	{% include 'main/navbar.html' %}

	<header id="head" class="secondary">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<h1>Contact us</h1>
				</div>
			</div>
		</div>
	</header>

	<!-- container -->
	<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h3 class="section-title">Your Message</h3>
						<p>
						Please contact the Locomotive Company 517-764-6001, for all your part needs
						</p>

						
						<form method="post" action=" {% url 'main:contact' %}" 
						class="form-light mt-20" role="form">
						{% csrf_token %}
							<div class="form-group">
								<label>Name</label>
								<input type="text" name="Name" class="form-control" placeholder="name">
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Email</label>
										<input type="email" name="email" class="form-control" placeholder="Email address">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Phone</label>
										<input type="text" name="number" class="form-control" placeholder="Phone number">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Subject</label>
								<input type="text" name='subject' class="form-control"  placeholder="Subject">
							</div>
							<div class="form-group">
								<label>Message</label>
								<textarea class="form-control" name="message" placeholder="Write you message here..." style="height:100px;"></textarea>
							</div>
								

      							<button type="submit" class="btn btn-two">Send message</button>
    							</div>
								</form>
							<p><br/></p>
						</form>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<h3 class="section-title">Office Address</h3>
								<div class="contact-info">
									<h5>Address</h5>
									<p>3730 Commerce St, Jackson, MI 49203</p>
									
									<h5>Email</h5>
									<p>jkoebbe@lococompany.com</p>
									
									<h5>Phone</h5>
									<p>Main: (517) 764-6001</p>
									<p>Alternate: (517) 764-6003</p>
									<p>Mobile: (517) 206-0290</p>
									<p>Fax: (517) 764-6068</p>
								</div>
							</div>
							<div class="col-md-6">
								<h3 class="section-title">Business Hours</h3>
								<div class="contact-info">
									<h5>Monday - Friday</h5>
									<p>8:00 am - 5:00 pm</p>
									
									<h5>Saturday</h5>
									<p>Closed</p>
									
									<h5>Sunday</h5>
									<p>Closed</p>
								</div>
							</div>
						</div>
						<h3 class="section-title">Get Directions</h3>
						</div>	<!-- /container -->
	
					<section class="container-full top-space">		  
		   
	 
    				<div class="container">
      			<div class="row">
        		<div class="col-md-6">
          	<div class="google-maps mb-100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3288.70680810453!2d-84.34694668454769!3d42.23439297919549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x883d2672b9dff911%3A0x997ef23877f17441!2s3730%20Commerce%20St%2C%20Jackson%2C%20MI%2049203!3m2!1d42.234393!2d-84.344758!5e1!3m2!1sen!2sus!4v1632902570931!5m2!1sen!2sus"  width="500" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          		</div>
        			</div>
      				</div>

						</section>					
					</div>
				</div>
			</div>
	<!-- /container -->

	

	{% include 'main/footer.html' %}


	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src=" {% static 'assets/js/custom.js' %} "></script>

	<!-- Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script src=" {% static 'assets/js/google-map.js' %} "></script>


</body>
</html>
