<!--
Author: ngg
Author URL: ngg
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Interior-Design-Responsive-Website-Templates-Edge">
    <meta name="author" content="ngg">
    <title>ngg</title>
    <link rel="favicon" href=" {% static 'assets/images/favicon.png' %} ">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href=" {% static 'assets/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/font-awesome.min.css' %} ">
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href=" {% static 'assets/css/bootstrap-theme.css' %} " media="screen">
    <link rel="stylesheet" href=" {% static 'assets/css/style.css' %} ">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src=" {% static 'assets/js/html5shiv.js' %} "></script>
	<script src=" {% static 'assets/js/respond.min.js' %} "></script>
	<![endif]-->
</head>

<body>
    {% include 'main/navbar.html' %}

    <header id="head" class="secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>Services</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- container -->
	<div id="courses">
		<section class="container">
			<h3>What we do!</h3>
			<div class="row">
				<div class="col-md-4">
					<div class="featured-box">
						<i class="fa fa-cogs fa-2x"></i>
						<div class="text">
							<h3>Complete Locomotive Solutions</h3>
                            You won't need to contact any other company because we do it all. Rely on us for everything from discontinued part
                            rebuilding to engine valve repair.
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured-box">
						<i class="fa fa-leaf fa-2x"></i>
						<div class="text">
							<h3>A Trusted Locomotive Company</h3>
                            The Locomotive Company has been trusted by local and international customers for over 35 years now. Put our experience
                            to work for you!
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured-box">
						<i class="fa fa-tachometer fa-2x"></i>
						<div class="text">
							<h3>High-Quality Parts and Service for Locomotive Engines</h3>
                            The Locomotive Company is your locomotive engine specialists offering high-quality new and rebuilt parts, repair, and complete overhauls.
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="featured-box">
						<i class="fa fa-eye fa-2x"></i>
						<div class="text">
							<h3>Vast Resource Library</h3>
                            The Locomotive Company can supply you with in-depth technical knowledge on locomotive engine parts. In many cases, we
                            can provide you with original copies of technical, mechanical, operational, and parts manuals for most manufacturers.
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured-box">
						<i class="fa fa-quote-right fa-2x"></i>
						<div class="text">
							<h3>On-site Inspection and Equipment Evaluation.</h3>
                            Our knowledgeable employees can perform worldwide on-site inspections and evaluations of your equipment.
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured-box">
						<i class="fa fa-arrows fa-2x"></i>
						<div class="text">
							<h3>Warranties Available</h3>
                            All new parts come with a warranty, and nearly all parts that leave our manufacturing facility come backed by a warranty
						</div>
					</div>
				</div>
			</div>

		</section>
	</div>
	
    <section class="container">
        <div class="row">
            <!-- main content -->
            <section class="col-sm-8 maincontent">
                <h3>The Essential Parts for Your Locomotive</h3>
                <p>Locomotive engines are responsible for pulling massive loads. As time passes and the wear and tear takes its toll, these
                engines may need to have some parts replaced.
                <br>
                <br>
                Get the high-quality parts for your locomotive or other large engine from The Locomotive Company. We offer a wide
                variety of replacement parts for locomotives, railcars, marine applications, power generation, and mining applications.

                    <img src=" {% static 'assets/images/about.jpg' %} " alt="" class="img-rounded pull-right" width="300">
                    
                </p> 
                <h3>Rebuilding Locomotive Parts at Competitive Prices</h3>
                <strong>New locomotive engine parts can be costly and hard to come by. But by letting our experts rebuild your needed items, you
                can save money and still have the reliable quality you need. Let us rebuild your:</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente. consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
                <strong>2013</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente. consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
                <strong>2012</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente. consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p> 
            </section>
            <!-- /main -->

            <!-- Sidebar -->
            <aside class="col-sm-4 sidebar sidebar-right">

                <div class="panel">
                    <h4>Latest News</h4>
                    <ul class="list-unstyled list-spaces">
                        <li><a href=" {% static '' %} ">Responsive Design</a><br>
                            <span class="small text-muted">specialize in the procurement of parts that are hard-to-find, discontinued, or no longer produced by the original
                            manufacturer</span></li>
                        <li><a href=" {% static '' %} ">HTML5, CSS3 and JavaScript</a><br>
                            <span class="small text-muted">Consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam</span></li>
                        <li><a href=" {% static '' %} ">Bootstrap</a><br>
                            <span class="small text-muted">Eveniet, consequuntur eius repellendus eos aliquid molestiae ea</span></li>
                        <li><a href=" {% static '' %} ">Clean Template</a><br>
                            <span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span></li>
                        <li><a href=" {% static '' %} ">Premium Quality</a><br>
                            <span class="small text-muted">Voluptate minus illo tenetur sint ab in culpa cumque impedit quibusdam. Saepe, molestias quia.</span></li>
                    </ul>
                </div>

            </aside>
            <!-- /Sidebar -->

        </div>
    </section>
	
     {% include 'main/footer.html' %}



    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src=" {% static 'assets/js/custom.js' %} "></script>
</body>
</html>
